#header {
    margin-top: 25px;
    border: solid 5px #eac67a;
    border-radius: 8px;
    max-width: 85%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: 50px;
    /* font-weight: bolder; */
    background: url("../assets/images/trainBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Rye';
}

#current {
    border: solid 5px #984b43;
    border-radius: 8px;
    max-width: 85%;
    margin-bottom: 24px;
    background-color: white;
}

#train1 {
    margin-right: 30px;
}

#train2 {
    margin-left: 30px;
}

.top {
    background-color: #984b43;
    color: white;
    padding-bottom: 4px;
    font-family: 'Rye';
}

.userInput {
    margin-bottom: 24px;
}

body {
    background-color: #233237;
}